{% extends 'base.html' %}

{% block title %}
	<title>Change Email</title>
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="text-center">Change Email</h1>
  			{% for error in errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		<form method="POST">
  			<div class="mb-3">
    			<label for="email" class="form-label">Email address</label>
    			<input id="email" type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="enter new email">
  			</div>
		</form>
        <button type="submit" class="btn btn-primary" onclick="update_item({{id}})">Update</button>
	<div>
{% endblock %}
{% block script %}
<script type="text/javascript">
function update_item(id)
		{
			var data = {}	
			data["email"] = document.getElementById("email").value
			fetch("/email/"+id, {method:'PATCH',
				  headers: {'Content-Type':'application/json',},
				  body: JSON.stringify(data),})
			.then(response => response.json())
			.then(data => document.getElementById("result").innerHTML = data.message) 
		}
</script>
{% endblock %}
