<{% extends 'base.html' %}

{% block title %}
	<title>User create</title>
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="text-center"> User create</h1>
  			{% for error in errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		<form method="POST">
            <div class="mb-3">
    			<label for="username" class="form-label">Username</label>
    			<input type="username" class="form-control" name="username" placeholder="enter username">
  			</div>
  			<div class="mb-3">
    			<label for="email" class="form-label">Email address</label>
    			<input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="enter email">
  			</div>
  			<div class="mb-3">
    			<label for="password" class="form-label">Password</label>
    			<input type="password" class="form-control" name="password" placeholder="enter password">
  			</div>
  			<div class="mb-3">
    			<label for="is_admin" class="form-label">Is Admin</label>
                <input type="is_admin" class="form-control" name="is_admin" placeholder="Put Yes or leave blank">
  			</div>
  			<button type="submit" class="btn btn-primary">Create</button>
		</form>
	<div>
{% endblock %}
